body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-title {
  color: white;
}

.container {
  padding: 16px;
}

.delete-button {
  background-color: red;
  border-color: black;
  color: white;
}

.edit-button {
  background-color: grey;
  border-color: black;
  color: white;
}

.image {
  max-width: 200px;
  max-height: 200px;
}

.card {
  padding: 18px;
}
